*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: 'Open Sans',sans-serif;
}
.container{
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    perspective: 5px;
}
.section{
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    height: 100vh;
    background-position: center center;
    background-size: cover;
    transform: scale(1.5) translateZ(-1px);
    z-index: -1;
}
.heading{
    font-size: 2em;
    color: #ffffff;
    text-shadow: 1px 1px 5px #000000;
    transform: translateY(-50vh) translateZ(1px);
}